# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Crack

src/main/c/z3/

src/main/resources/libz3.*

src/main/resources/crack.dll
src/main/resources/libcrack.dylib
src/main/resources/libcrack.so
